html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.col-left-fixed {
  width: 180px;
  height: 100%;
  background-color: #202;
  float: left;
}

.col-left-fill {
  height: 100%;
  width: calc(100% - 180px);
  background-color: antiquewhite;
  float: left;
}

.row-top-fixed {
  height: 80px;
  width: 100%;
  background-color: green;
}

.row-top-fill {
  height: calc(100% - 80px);
  width: 100%;
  background-color: cyan;
}

.active-tool {
  background-color: gray !important;
}

.tool-button {
  float: left;
  width: 78px;
  height: 78px;
  margin: 5px;
  background-color: chocolate;
  border: solid black 1px;
}

.option-panel {
  background-color: #ccc;
  padding: 5px;
}

.option-button {
  width: 70px;
  height: 70px;
}
.log {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.canvas {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.card-container {
  width: 306px;
  height: 406px;
  position: absolute;
  background-color: #ddd;
}

.card {
  width: 100%;
  height: 100%;
  border: solid black 2px;
  position: absolute;
}

.accept-handle:hover {
  background-color: darkolivegreen;
}

.accept-card:hover {
  background-color: darkolivegreen;
}

.handle {
  width: 80px;
  height: 80px;
  background-color: lightgray;
  opacity: 0.7;
  position: relative;
}

/*
.top-left {
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
}

.bottom-right {
  right: 0px;
  bottom: 0px;
  margin-right: -40px;
  margin-bottom: -40px;
  position: absolute;
}
*/

.container {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: red;
}
.transformed {
  width: 150px;
  height: 150px;
  background-color: blue;
}
